

# Sciebo / Nextcloud config 
NC_URL=https://hs-niederrhein.sciebo.de/remote.php/webdav/ # The URL for the Nextcloud WebDAV endpoint must end with "/remote.php/webdav/"
NC_USER=user@hs-niederrhein.de # The username for the Nextcloud account
NC_PASS=password # The password for the Nextcloud account
NC_SUBFOLDER=hsnr-chatbot-data # The subfolder in Nextcloud where the chatbot data will be stored

MCP_SERVER_NAME=HSNR-MCP-Server # The name of the MCP server
MOODLE_URL=https://moodle.hsnr.de  # The URL for the Moodle instance