LOG_LEVEL=DEBUG
QDRANT_URL=http://localhost:6333
QDRANT_COLLECTION_NAME=chatbot-collection
MCP_PORT=9001
DENSE_MODEL_NAME=jinaai/jina-embeddings-v3
SPARSE_MODEL_NAME=Qdrant/bm25
DATA_DIR=data

# TODO: switch this to two specific paths fpr the contact poitns and study programs 
# also porbaby dont provide these mcp endpoints if the paths are not given
CONFIG_DIR=config
MCP_SERVER_NAME=HSNR-FB08-MCP